@font-face {
    font-family: "Penny Script";
    src: url(//cortesfilms.es/fonts/Penny_Script.ttf) format("truetype");
}

.columna{
    position: fixed;
    left: 23px;
    bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 99;
    border-radius: 5% 5% 0 0;
    min-width: 10em;
}
.columna ul li a{
    color: #dddddd;
}
.columna ul li a:hover{
    color: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}




